//背景颜色
$body-bg-color:#ffffff !default;

$header-bg-color:#ffffff;

//字体
$font-family-base: "Microsoft YaHei","微软雅黑",Arial,sans-serif !default;
$font-family-code: Consolas,Menlo,Courier,monospace !default;

//html根字体大小
$html-font-size:16px !default;


$content-width:1200px !default;
